@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-lg btn-dark" asp-area="" asp-controller="Customer" asp-action="CustomerNameEntry">Customer Name Check</a>
</div>
